<div class="absolute inset-0 bg-opacity-100 z-10 w-full h-full backdrop-brightness-[.6] flex items-center justify-center">
  <div class="w-[35%] h-[67%] mx-auto my-auto bg-white shadow rounded border flex flex-col">
    <form class="w-full h-full mx-auto flex flex-col">
      <!-- head top section -->
      <div class="w-full h-[35%] mt-4 border-b-2 border-inputbg flex flex-col">
        <h1 class="ml-7 text-[18px] leading-[24px] font-semibold">Détails</h1>
        <div class="mt-4 h-[120px] w-[90%] bg-[url('/assets/bg-voucher.png')] bg-center bg-no-repeat bg-cover flex flex-col items-center
          justify-center rounded-md text-white font-lato-bold mx-auto">
          <p class="text-sm font-medium">CODE AGENCE</p>
          <div class="flex items-center justify-center text-black bg-[#f7ead6] rounded-[5px] py-3 px-24 mt-2 text-sm">
            <div>AGEB109</div>
          </div>
        </div>
      </div>
      <!-- form body middle section -->
      <div class="w-full h-[50%] mt-2 flex flex-col overflow-y-scroll scrollbar-thin scrollbar-track-white scrollbar-thumb-inputbg no-scrollbar-buttons">

        <div class="flex flex-col w-[90%] mx-auto mt-2">
          <label for="" class="text-xs text-[#8F9BB3] font-bold">Label</label>
          <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 text-base font-semibold cursor-text"
            value="AGENCE BCC AL YOUSSR" disabled>
        </div>
        <div class="w-[90%] mx-auto mt-2 flex">
          <div class="flex flex-col w-1/2 mr-2">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">Date creation</label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 text-base font-semibold cursor-text"
              value="01/03/2024">
          </div>
          <div class="flex flex-col w-1/2 ml-2">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">Initiateur</label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 text-base font-semibold cursor-text"
              value="N/A">
          </div>
        </div>
        <div class="w-[90%] mx-auto mt-2 flex">
          <div class="flex flex-col w-1/2 mr-2">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">Statut</label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 text-base font-semibold cursor-text"
              value="ACTIVEE">
          </div>
          <div class="flex flex-col w-1/2 ml-2">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">Localisation</label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 text-base font-semibold cursor-text"
              value="">
          </div>
        </div>
      </div>
      <!-- buttons bottom section -->
      <div class="w-full h-[15%] flex items-center justify-center border-t-2 border-inputbg">
        <button type="button" class="text-white bg-banner-blue flex items-center gap-2 py-2.5 px-4 rounded text-[14px] leading-[16px]
          font-bold hover:bg-opacity-80 transition duration-200 ease-in-out transform scale-100 hover:scale-95 group" (click)="onCancel()">
          <i class="fa-solid fa-square-xmark text-base"></i>
          <span>ANNULER</span>
        </button>
      </div>
    </form>
  </div>
</div>

