<div class="w-[16.5vw] h-[89.3vh] bg-banner-blue text-white md:min-w-[150px] hidden lg:block">
  <ul class="font-lato-regular text-[13px] leading-[20px] font-semibold flex flex-col">

    <li class="p-4 border-b border-white">
      <a routerLink="/users" class="flex gap-2 items-center group cursor-pointer">
        <i class="fa-solid fa-layer-group transform scale-100 group-hover:scale-[.8] transition duration-200 ease-in-out"></i>
        <span class="transform scale-100 group-hover:scale-[.7] group-hover:text-gray-400 transition duration-200 ease-in-out">Gestion des utilisateurs</span>
      </a>
    </li>
    <li class="p-4 border-b border-white">
      <a routerLink="/payment" class="flex gap-2 items-center group">
        <i class="fa-regular fa-credit-card transform scale-100 group-hover:scale-[.8] transition duration-200 ease-in-out"></i>
        <span class="transform scale-100 group-hover:scale-[.7] group-hover:text-gray-400 transition duration-200 ease-in-out">Paiement</span>
      </a>
    </li>
    <li class="p-4 border-b border-white">
      <a routerLink="/history" class="flex gap-2 items-center group">
        <i class="fa-solid fa-list-ul transform scale-100 group-hover:scale-[.8] transition duration-200 ease-in-out"></i>
        <span class="transform scale-100 group-hover:scale-[.7] group-hover:text-gray-400 transition duration-200 ease-in-out">Historique des paiements</span>
      </a>
    </li>
    <li class="p-4 border-b border-white">
      <a routerLink="/agencies" class="flex gap-2 items-center group">
        <i class="fa-solid fa-list-ul transform scale-100 group-hover:scale-[.8] transition duration-200 ease-in-out"></i>
        <span class="transform scale-100 group-hover:scale-[.7] group-hover:text-gray-400 transition duration-200 ease-in-out">Agences</span>
      </a>
    </li>
    <li class="p-4">
      <a routerLink="/reporting" class="flex gap-2 items-center group">
        <i class="fa-solid fa-chart-line transform scale-100 group-hover:scale-[.8] transition duration-200 ease-in-out"></i>
        <span class="transform scale-100 group-hover:scale-[.7] group-hover:text-gray-400 transition duration-200 ease-in-out">Reporting</span>
      </a>
    </li>
  </ul>
</div>
