<div class="absolute inset-0 bg-opacity-100 z-10 w-full h-full backdrop-brightness-[.6] flex items-center justify-center">
  <div class="w-[50%] h-[80%] mx-auto my-auto bg-white shadow rounded border flex flex-col">
    <form class="w-full h-full mx-auto flex flex-col">
      <!-- head top section -->
      <div class="w-full h-[8%] mt-4 border-b-2 border-inputbg flex items-center gap-4">
        <h1 class="ml-5 text-[18px] leading-[24px] font-semibold"> Création d'une agence </h1>
      </div>
      <!-- form body middle section -->
      <div class="flex w-full h-[77%] items-center justify-center overflow-y-scroll scrollbar-thin scrollbar-track-white
       scrollbar-thumb-inputbg no-scrollbar-buttons">
        <div class="w-[45%] h-full mt-2 flex flex-col ml-5">
          <p class="mt-2 mb-4 text-[18px] leading-[20px] font-lato-regular">Formulaire agence</p>
          <div class="flex flex-col w-full">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">
              Label de l'agence<span class="text-red-500">*</span>
            </label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
              text-[15px] leading-[24px]" placeholder="Exemple: Agence Ndjamena">
          </div>
          <div class="flex flex-col mt-2 w-full">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">Ville<span class="text-red-500">*</span></label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
              text-[15px] leading-[24px]" placeholder="Exemple: Ndjamena">
          </div>
        </div>
        <div class="w-[55%] h-full mt-2 flex flex-col">
          <p class="mt-2 mb-4 ml-2 text-[18px] leading-[20px] font-lato-regular">Formulaire chef agence</p>
          <div class="flex flex-col w-[95%] mx-auto">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">
              Identifiant de connexion <span class="text-red-500">*</span>
            </label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
              text-[15px] leading-[24px]" placeholder="Exemple: LND001">
          </div>
          <div class="flex flex-col mt-2 w-[95%] mx-auto">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">Fonction dans l'agence</label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
              text-[15px] leading-[24px]" placeholder="Exemple: Gestionnaire">
          </div>
          <div class="flex flex-col mt-2 w-[95%] mx-auto">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">
              Nom(s)<span class="text-red-500">*</span>
            </label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
              text-[15px] leading-[24px]" placeholder="Exemple: JOHN">
          </div>
          <div class="flex flex-col mt-2 w-[95%] mx-auto">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">
              Prénom(s)<span class="text-red-500">*</span>
            </label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
              text-[15px] leading-[24px]" placeholder="Exemple: DOE">
          </div>
          <div class="flex flex-col mt-2 w-[95%] mx-auto">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">
              Email<span class="text-red-500">*</span>
            </label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
              text-[15px] leading-[24px]" placeholder="Exemple: johndoe@gmail.com">
          </div>
          <div class="flex flex-col mt-2 w-[95%] mx-auto">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">
              Téléphone<span class="text-red-500">*</span>
            </label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
              text-[15px] leading-[24px]" placeholder="Exemple: 237678354673">
          </div>
          <div class="flex flex-col mt-2 w-[95%] mx-auto">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">
              Catégorie<span class="text-red-500">*</span>
            </label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4
              text-[15px] leading-[24px]" value="CHEF D'AGENCE">
          </div>
          <div class="flex flex-col mt-2 w-[95%] mx-auto">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">
              Profil<span class="text-red-500">*</span>
            </label>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4
              text-[15px] leading-[24px]" value="VALIDATEUR">
          </div>
          <div class="flex flex-col mt-2 w-[95%] mx-auto">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">
              Genre<span class="text-red-500">*</span>
            </label>
            <div class="w-full">
              <select class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 text-[#545353] text-[15px] leading-[24px]">
                <option disabled selected>Sélectionner votre genre</option>
                <option value="">HOMME</option>
                <option value="">FEMME</option>
              </select>
            </div>
          </div>
          <div class="flex flex-col mt-2 w-[95%] mx-auto">
            <label for="" class="text-xs text-[#8F9BB3] font-bold">
              Mot de passe par défaut <span class="text-red-500">*</span>
            </label>
            <div class="relative">
              <i class="fa-solid fa-arrow-rotate-right absolute top-[40%] right-2 text-banner-blue"></i>
              <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
                text-[15px] leading-[24px]" placeholder="Exemple: @t-1990">
            </div>
          </div>
        </div>
      </div>
      <!-- buttons bottom section -->
      <div class="w-full h-[15%] flex items-center justify-center border-t-2 gap-10 border-inputbg">
        <button type="button" class="text-white bg-deeppink flex items-center gap-2 py-2.5 px-4 rounded text-[14px] leading-[16px]
          font-bold hover:bg-opacity-80 transition duration-200 ease-in-out transform scale-100 hover:scale-95 group" (click)="onCancel()">
          <i class="fa-solid fa-square-xmark text-base transform scale-100 group-hover:scale-[.7] transition duration-200 ease-in-out"></i>
          <span>ANNULER</span>
        </button>
        <button type="submit" class="text-white bg-badgegreen flex items-center gap-2 py-2.5 px-4 rounded text-[14px] leading-[16px]
          font-bold hover:bg-opacity-80 transition duration-200 ease-in-out transform scale-100 hover:scale-95 group">
          <i class="fa-solid fa-check-double text-base transform scale-100 group-hover:scale-[.7] transition duration-200 ease-in-out"></i>
          <span>ENREGISTRER</span>
        </button>
      </div>
    </form>
  </div>
</div>


