<!-- main section-->
<main class="relative font-lato bg-[url('/assets/banner.png')] bg-right-top w-full h-[64vh] object-cover">
  <!-- parent div -->
    <div class="flex gap-[14rem] w-[80%] h-full mx-auto">
      <!-- first block with blue bg -->
      <div class="shadow-md w-[27rem] h-[38.5rem] bg-white md:flex flex-col hidden">
        <div class="w-full h-[78%] bg-banner-blue flex flex-col justify-center gap-2 text-white pl-4">
          <h1 class="text-4rem font-lato font-semibold">e-TAX</h1>
          <p class="text-xl font-normal pr-20">Bienvenue sur votre portail de paiement e-TAX</p>
          <p class="text-sm font-medium bg-dimgray pl-2 py-1 w-7/12 mt-4">Réglez vos impôts en toute sécurité</p>
        </div>
        <div class="flex justify-center items-center mt-6">
          <img src="/assets/bcc-logo.png" alt="logo" class="h-16 w-24 bottom-5">
        </div>
      </div>
      <!-- second block with the form -->
      <app-form />
    </div>
</main>

<footer class="mt-72 h-full w-full bg-banner-blue text-white">
  <div>
    <h3 class="text-7.5 leading-10 font-bold md:max-2xl:ml-10 md:max-2xl:text-left pt-6 text-center">NOUS CONTACTER</h3>
    <p class="mt-3 md:max-2xl:ml-10 md:max-2xl:text-left text-center">
      <a href="tel:+235 22 51 52 31">Nous appeler : +235 22 51 52 31</a>
      <br>
      <a href="mailto:info@bcc-bank.com"></a>Nous écrire : info&#64;bcc-bank.com
      <br>
      Trouver une agence
    </p>
  </div>
  <div class="mt-6 md:max-lg:pl-14 md:max-lg:gap-4 lg:max-2xl:pl-52 md:max-2xl:flex-nowrap lg:max-2xl:gap-6 md:max-2xl:justify-start md:max-2xl:items-start pb-6 items-center gap-x-6 px-4 flex flex-wrap justify-center">
    <a>Contact</a>
    <a>Réclamations</a>
    <a>Mentions légales </a>
    <a>Plan du site </a>
    <a>Sécurité </a>
    <a>Cookies </a>
    <a>Crédits</a>
    <a>Contact </a></div>
</footer>
