<div class="absolute inset-0 bg-opacity-100 z-10 w-full h-full backdrop-brightness-[.6] flex items-center justify-center">
  <div class="w-[30%] h-[80%] mx-auto my-auto bg-white shadow rounded border flex flex-col">
    <form class="w-full h-full mx-auto flex flex-col" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <!-- head top section -->
      <div class="w-full h-[10%] mt-4 border-b-2 border-inputbg flex items-center gap-4">
        <h1 class="ml-5 text-[18px] leading-[24px] font-semibold"> Création d'un compte </h1>
        <label class="inline-flex items-center cursor-pointer">
          <input type="checkbox" value="" class="sr-only peer" name="otp" formControlName="otp">
          <div class="relative w-11 h-6 bg-[#ff80a2] border-2 border-red-500
              peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-gray-300 rounded-full
              peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full
              peer-checked:after:border-banner-blue after:content-[''] after:absolute after:top-[2px] after:start-[2px]
              after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all
              peer-checked:bg-[#00d68f] peer-checked:border-green-500 after:-ml-[2px] after:-mt-[1px]">
          </div>
          <span class="ms-2 text-[13px] leading-[24px] font-semibold">OTP DESACTIVÉ</span>
        </label>
      </div>
      <!-- form body middle section -->
      <div class="w-full h-[75%] mt-2 flex flex-col overflow-y-scroll scrollbar-thin scrollbar-track-white scrollbar-thumb-inputbg no-scrollbar-buttons">
        <div class="flex flex-col w-[90%] mx-auto">
          <label for="" class="text-xs text-[#8F9BB3] font-bold">
            Identifiant de connexion <span class="text-red-500">*</span>
          </label>
          <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
            text-[15px] leading-[24px]" name="userId" placeholder="Exemple: LND001" formControlName="userId">
        </div>
        <div class="flex flex-col mt-2 w-[90%] mx-auto">
          <label for="" class="text-xs text-[#8F9BB3] font-bold">Fonction dans l'entreprise</label>
          <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
            text-[15px] leading-[24px]" name="role" placeholder="Exemple: Gestionnaire" formControlName="role">
        </div>
        <div class="flex flex-col mt-2 w-[90%] mx-auto">
          <label for="" class="text-xs text-[#8F9BB3] font-bold">
            Nom(s)<span class="text-red-500">*</span>
          </label>
          <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
            text-[15px] leading-[24px]" name="name" placeholder="Exemple: JOHN" formControlName="name">
        </div>
        <div class="flex flex-col mt-2 w-[90%] mx-auto">
          <label for="" class="text-xs text-[#8F9BB3] font-bold">
            Prénom(s)<span class="text-red-500">*</span>
          </label>
          <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
            text-[15px] leading-[24px]" name="surname" placeholder="Exemple: DOE" formControlName="surname">
        </div>
        <div class="flex flex-col mt-2 w-[90%] mx-auto">
          <label for="" class="text-xs text-[#8F9BB3] font-bold">
            Email<span class="text-red-500">*</span>
          </label>
          <input type="email" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
            text-[15px] leading-[24px]" name="email" placeholder="Exemple: johndoe@gmail.com" formControlName="email">
        </div>
        <div class="flex flex-col mt-2 w-[90%] mx-auto">
          <label for="" class="text-xs text-[#8F9BB3] font-bold">
            Téléphone<span class="text-red-500">*</span>
          </label>
          <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
            text-[15px] leading-[24px]" name="phoneNumber" placeholder="Exemple: 237678354673" formControlName='phoneNumber'>
        </div>
        <div class="flex flex-col mt-2 w-[90%] mx-auto">
          <label for="" class="text-xs text-[#8F9BB3] font-bold">
            Catégorie<span class="text-red-500">*</span>
          </label>
          <select class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 text-[#545353] text-[15px]
            leading-[24px]" name="category" formControlName="category">
            <option selected disabled>Sélectionner une Catégorie</option>
            <option value="Administrateur">Administrateur</option>
            <option value="Consultant">Consultant</option>
            <option value="Manager">Manager</option>
          </select>
        </div>
        <div class="flex flex-col mt-2 w-[90%] mx-auto">
          <label for="" class="text-xs text-[#8F9BB3] font-bold">
            Genre<span class="text-red-500">*</span>
          </label>
          <div class="relative w-full">
            <select class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue text-[#545353] text-[15px]
              leading-[24px] px-4" name="gender" formControlName="gender">
              <option disabled selected>Sélectionner votre genre</option>
              <option value="HOMME">HOMME</option>
              <option value="FEMME">FEMME</option>
            </select>
          </div>
        </div>
        <div class="flex flex-col mt-2 w-[90%] mx-auto">
          <label for="" class="text-xs text-[#8F9BB3] font-bold">
            Mot de passe par défaut <span class="text-red-500">*</span>
          </label>
          <div class="relative">
            <i class="fa-solid fa-arrow-rotate-right absolute top-[40%] right-2 text-banner-blue"></i>
            <input type="text" class="w-full mt-1 h-10 bg-inputbg rounded border border-banner-blue px-4 placeholder-[#545353]
              text-[15px] leading-[24px]" name="defaultPassword" placeholder="Exemple: @t-1990" formControlName="defaultPassword">
          </div>
        </div>
      </div>
      <!-- buttons bottom section -->
      <div class="w-full h-[15%] flex items-center justify-center gap-10 border-t-2 border-inputbg">
        <button [disabled]="isLoading" type="button" class="text-white bg-deeppink flex items-center gap-2 py-3 px-4 rounded text-[14px] leading-[16px]
          font-bold hover:bg-opacity-80 transition duration-200 ease-in-out transform scale-100 hover:scale-95 group" (click)="onCancel()">
          <i class="fa-solid fa-square-xmark text-base transform scale-100 group-hover:scale-[.7] transition duration-200 ease-in-out"></i>
          <span>ANNULER</span>
        </button>
        <button [disabled]="isLoading" type="submit" class="text-white bg-badgegreen flex items-center gap-2 py-3 px-4 rounded text-[14px] leading-[16px]
          font-bold hover:bg-opacity-80 transition duration-200 ease-in-out transform scale-100 hover:scale-95 group">
          @if(isLoading){
            <div class="loader" style="--loader-size: 20px;"></div>
          }@else{
            <i class="fa-solid fa-check-double text-base transform scale-100 group-hover:scale-[.7] transition duration-200 ease-in-out"></i>
          }
          <span>ENREGISTRER</span>
        </button>
      </div>
    </form>
  </div>
</div>
