<!-- form -->
<div class="w-[28rem] h-[38.5rem] flex flex-col justify-end">
  <div class="w-full h-[22rem] shadow-md bg-white border-t-4  border-banner-blue rounded">
    <form class="w-full h-full text-black">
      <h2 class="mt-4 ml-6 font-bold text-4.5 leading-5">Authentification</h2>
      <div class="flex flex-col">
        <label for="" class="text-sm font-normal mt-14 ml-6">Identifiant</label>
        <div class="relative w-[87%] mx-auto mt-1">
            <input type="text" class="w-full h-10 text-black bg-form-gray px-4 py-2 border-none focus:outline-none" placeholder="Exemple: LND001">
            <i class="fa-regular fa-envelope text-silver absolute top-1/2 right-2 transform -translate-y-1/2"></i>
        </div>
      </div>
      <div class="flex flex-col">
        <label for="" class="text-sm font-normal mt-4 ml-6">Mot de passe</label>
        <div class="relative w-[87%] mx-auto mt-1">
            <input type="text" class="w-full text-black h-10 bg-form-gray px-4  py-2 pr-10 border-none focus:outline-none">
            <i class="fa-regular fa-eye text-banner-blue absolute top-1/2 right-2 transform -translate-y-1/2"></i>
        </div>
      </div>
      <div class="flex flex-col">
        <button type="submit" class="w-[87%] h-8 bg-banner-blue mx-auto px-4 mt-16 font-bold text-sm text-btn1">CONNEXION</button>
      </div>
    </form>
  </div>
</div>
